* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

/* Beginning of Navbar */

a {
    text-decoration: none;
    color: var(--mainGrey);
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.nav {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding: 0px 145px;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(240, 157, 81, 1) 0%, rgba(0, 0, 0, 1) 85%);
    height: 85px;

}

@media (max-width: 940px) {
    .nav {
        padding: 0px 80px;
    }
}

@media (max-width: 730px) {
    .nav {
        padding: 0px 40px;
    }
}

@media (max-width: 580px) {
    .nav {
        padding: 0px 20px;
    }
}

@media (max-width: 440px) {
    .nav {
        padding: 0px 10px;
    }
}

.nav-list {
    display: flex;
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    font-weight: 650;
    letter-spacing: var(--mainSpacing);
    background-color: transparent;
    border: none;
}

.nav-link {
    margin-right: 60px;
    color: #fff;
    position: relative;
    text-decoration: none;
}

@media (max-width: 810px) {
    .nav-link {
        font-size: 14px;
        margin-right: 40px;
    }
}

@media (max-width: 660px) {
    .nav-link {
        font-size: 12px;
        margin-right: 20px;
    }
}

@media (max-width: 440px) {
    .nav-link {
        font-size: 10px;
        margin-right: 10px;
    }
}

.nav-link::after {
    content: '';
    width: 0px;
    height: 5px;
    display: block;
    background-color: var(--primaryColor);
    transition: 300ms;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-link:hover::after {
    opacity: 0.95;
    width: 100%;
    transform: translate3d(0, 0.8em, 0);
}

.logo-img {
    color: var(--mainBlack);
    text-decoration: none;
    display: block;
    height: auto;
    width: 100px;
}

@media (max-width: 660px) {
    .logo-img {
        width: 80px;
    }
}

@media (max-width: 440px) {
    .logo-img {
        width: 60px;
    }
}

/* End of Navbar */

/* Beginning of Carousel */

.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.7s ease;
}


.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 770px;
    background-color: transparent;
    color: #fff;
    vertical-align: bottom;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators>button.active {
    background-color: var(--primaryColor);
    color: #fff;
}

.church {
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0.95;
}

/* End of Carousel */

/* Beginning of Link Container */

.carousel-container {
    position: relative;
}

.display-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.link-btn {
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #f68f30 0, #f09d51 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0 8px 8px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.5) 0 0px 0 inset;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    box-sizing: border-box;
    align-items: center;
    line-height: 1;
    z-index: 1;
    cursor: pointer;
    color: var(--mainBlack);
    border: none;
    border-radius: 15px;
    padding: 30px;
    min-height: 25px;
    min-width: 120px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    ;
    font-weight: 600;
    align-items: center;
    margin: 70px;
}

@media (max-width: 1340px) {
    .link-btn {
        padding: 20px;
        font-size: 14px;
    }
}

@media (max-width: 1010px) {
    .link-btn {
        padding: 15px;
        font-size: 12px;
    }
}

.link-btn:hover {
    background-image: radial-gradient(100% 100% at 100% 0, #ac5d13 0, rgb(0, 0, 0) 95%);
}

.table-talk {
    color: var(--mainGrey);
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 120px;
    text-shadow:
        -1px -1px 0 #341d06,
        1px -1px 0 #341d06,
        -1px 1px 0 #341d06,
        7px 1px 0 #341d06;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 0.7rem;
}

@media (max-width: 1340px) {
    .table-talk {
        font-size: 80px;
    }
}

/* Breakpoint at 880px */
@media (max-width: 1010px) {
    .table-talk {
        font-size: 60px;
    }
}

/* Breakpoint at 440px */
@media (max-width: 840px) {
    .table-talk {
        font-size: 40px;
    }
}

/* End of Link Container */

/* Beginning of Business Details */

.business-container {
    text-align: center;
    border-top: 25px solid black;
    border-bottom: 25px solid black;
}

.business {
    width: auto;
    height: 250px;
    display: inline-block;
    margin: 0px 50px;
}

.family-img {
    vertical-align: bottom;
}

/* Beginning of Extended Info */

.family-img {
    object-fit: cover;
    width: 100%;
    height: 800px;
    opacity: 0.9;
}

/* Beginning of BeefMain page */

.column-container {
    display: flex;
}

.column {
    flex: 1;
    box-sizing: border-box;
    padding: 40px;
    background-color: #FFBD59;
}

.headline-main {
    text-align: center;
    font-size: 72px;
    background-color: var(--mainGrey);
}

.info-portion-container {
    text-align: center;
    padding: 40px;
    background-color: #e2e1e1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-heading {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.info-portion-text {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.info-contact-text {
    color: #777;
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-btn {
    background-color: #f09d51;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #e0883a;
}

.contact-link {
    text-decoration: none;
    color: #fff;
}

.how-much {
    height: 450px;
    width: auto;
    float: right;
    margin-right: 105px;
}

.contact-btn:hover {
    background-color: #f68f30;
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin: 3.5%;
}

.gallery-item {
    position: relative;
}

.image-container {
    width: 100%;
}

.gallery-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.image-text {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* Beginning of Contact Page */

.hear-container {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hear-heading {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.hear-subheading {
    color: #555;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.reminder-text {
    color: #777;
    font-size: 18px;
    line-height: 1.6;
}


/* Center the form on the screen */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 100% of the viewport height */
}

/* Style the form box */
.form-box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Style the form elements */
Form {
    text-align: center;
}

Field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the button */
.form-btn {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Style error messages */
.ErrorMessage {
    color: red;
    margin-top: 5px;
}

/* Optional: Add hover effect to the button */
.form-btn:hover {
    background-color: #45a049;
}

Field[name="message"] {
    resize: vertical;
    height: 100px;
}

.field-form {
    display: block;
    padding: 30px;
    margin: 70px;
}