* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Beginning of Navbar */

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: blue;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    align-items: center;
    min-height: 70px;
    margin: 0;
    padding: 20px 30px;
    justify-content: space-between;
    background: rgba(231, 226, 221, 0.9);
}

.nav-list {
    display: flex;
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 650;
    padding-bottom: 3px;
    cursor: pointer;
    border: none;
    position: relative;
}

.nav-link {
    padding-right: 30px;
}

/* .logo-img {
    color: var(--mainBlack);
    text-decoration: none;
    display: block;
    height: auto;
    width: 80px;
} */

/* .nav-container {
    display: flex;
    column-gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
} */

/* .nav-item:hover,
.nav-item:focus {
    color: rgba(0, 0, 0, 1);
}

.nav-item::after {
    content: '';
    height: 4px;
    width: 100%;
    background: #fca311;
    position: absolute;
    left: 0;
    bottom: -14px;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.nav-item:hover::after {
    opacity: 1;
}

.nav-icon {
    font-size: 1.5rem;
} */


/* 
.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 5px;
    border-radius: 30%;
    color: var(--mainWhite);
} */

/* @media (max-width: 650px) {
    .header-content {
        flex-direction: column;
        padding: 20px 0;
        row-gap: 10px;
    }

    a.nav-item {
        font-size: 14px;
    }

    .nav-container {
        column-gap: 5px;
    }
} */

/* End of Navbar */